<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Distance Measure</string>
		<key>thumb</key>
		<string>distanceicon.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ultrasonic Sensor</string>
				<key>type</key>
				<integer>1</integer>
				<key>protocol</key>
				<string>ultrasonic/%port</string>
				<key>thumb</key>
				<string>ultrasonic.png</string>
				<key>port</key>
				<integer>3</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>1</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>290</integer>
				<key>yPosition</key>
				<integer>155</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Temperature Measure</string>
		<key>thumb</key>
		<string>temperatureicon.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>Temperature Sensor</string>
				<key>type</key>
				<integer>2</integer>
				<key>protocol</key>
				<string>temp/%port</string>
				<key>thumb</key>
				<string>temperature.png</string>
				<key>port</key>
				<integer>6</integer>
				<key>slot</key>
				<integer>1</integer>
				<key>xib</key>
				<integer>0</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>290</integer>
				<key>yPosition</key>
				<integer>150</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>RGB Control</string>
		<key>thumb</key>
		<string>rgbicon.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>RGB LED</string>
				<key>type</key>
				<integer>8</integer>
				<key>protocol</key>
				<string>rgb/%port/%slot</string>
				<key>thumb</key>
				<string>rgbled.png</string>
				<key>port</key>
				<integer>6</integer>
				<key>slot</key>
				<integer>1</integer>
				<key>xib</key>
				<integer>7</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>285</integer>
				<key>yPosition</key>
				<integer>148</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Robot Tank</string>
		<key>thumb</key>
		<string>car_controller.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>Joystick for Motors</string>
				<key>type</key>
				<integer>13</integer>
				<key>protocol</key>
				<string>motor/M1 %v\nmotor/M2 %v</string>
				<key>thumb</key>
				<string>joystick_icon.jpg</string>
				<key>port</key>
				<integer>9</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>5</integer>
				<key>menu</key>
				<integer>1</integer>
				<key>xPosition</key>
				<integer>140</integer>
				<key>yPosition</key>
				<integer>160</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Ultrasonic Sensor</string>
				<key>type</key>
				<integer>1</integer>
				<key>protocol</key>
				<string>ultrasonic/%port</string>
				<key>thumb</key>
				<string>ultrasonic.png</string>
				<key>port</key>
				<integer>3</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>1</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>384</integer>
				<key>yPosition</key>
				<integer>147</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Robotic Arm Tank</string>
		<key>thumb</key>
		<string>robotarmcar.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>Joystick for Motors</string>
				<key>type</key>
				<integer>13</integer>
				<key>protocol</key>
				<string>motor/M1 %v\nmotor/M2 %v</string>
				<key>thumb</key>
				<string>joystick_icon.jpg</string>
				<key>port</key>
				<integer>9</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>5</integer>
				<key>menu</key>
				<integer>1</integer>
				<key>xPosition</key>
				<integer>120</integer>
				<key>yPosition</key>
				<integer>140</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>DC Motor</string>
				<key>type</key>
				<integer>10</integer>
				<key>protocol</key>
				<string>motot/%port</string>
				<key>thumb</key>
				<string>motor.png</string>
				<key>port</key>
				<integer>1</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>2</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>393</integer>
				<key>yPosition</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>DC Motor</string>
				<key>type</key>
				<integer>10</integer>
				<key>protocol</key>
				<string>motot/%port</string>
				<key>thumb</key>
				<string>motor.png</string>
				<key>port</key>
				<integer>2</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>2</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>393</integer>
				<key>yPosition</key>
				<integer>180</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ball Launcher</string>
		<key>thumb</key>
		<string>balllauncher.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>DC Motor</string>
				<key>type</key>
				<integer>10</integer>
				<key>protocol</key>
				<string>motot/%port</string>
				<key>thumb</key>
				<string>motor.png</string>
				<key>port</key>
				<integer>9</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>2</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>262</integer>
				<key>yPosition</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>DC Motor</string>
				<key>type</key>
				<integer>10</integer>
				<key>protocol</key>
				<string>motot/%port</string>
				<key>thumb</key>
				<string>motor.png</string>
				<key>port</key>
				<integer>10</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>2</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>262</integer>
				<key>yPosition</key>
				<integer>200</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Drink Car</string>
		<key>thumb</key>
		<string>beercar.jpg</string>
		<key>modules</key>
		<array>
			<dict>
				<key>name</key>
				<string>Joystick for Motors</string>
				<key>type</key>
				<integer>13</integer>
				<key>protocol</key>
				<string>motor/M1 %v\nmotor/M2 %v</string>
				<key>thumb</key>
				<string>joystick_icon.jpg</string>
				<key>port</key>
				<integer>9</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>5</integer>
				<key>menu</key>
				<integer>1</integer>
				<key>xPosition</key>
				<integer>131</integer>
				<key>yPosition</key>
				<integer>135</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>DC Motor</string>
				<key>type</key>
				<integer>10</integer>
				<key>protocol</key>
				<string>motot/%port</string>
				<key>thumb</key>
				<string>motor.png</string>
				<key>port</key>
				<integer>1</integer>
				<key>slot</key>
				<integer>0</integer>
				<key>xib</key>
				<integer>2</integer>
				<key>menu</key>
				<integer>0</integer>
				<key>xPosition</key>
				<integer>388</integer>
				<key>yPosition</key>
				<integer>135</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
