<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>DC Motor</string>
		<key>type</key>
		<integer>10</integer>
		<key>protocol</key>
		<string>motot/%port</string>
		<key>thumb</key>
		<string>motor.png</string>
		<key>port</key>
		<integer>9</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>2</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Servo Motor</string>
		<key>type</key>
		<integer>11</integer>
		<key>protocol</key>
		<string>servo/%port/%slot</string>
		<key>thumb</key>
		<string>servo.png</string>
		<key>port</key>
		<integer>3</integer>
		<key>slot</key>
		<integer>1</integer>
		<key>xib</key>
		<integer>9</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Joystick for Motors</string>
		<key>type</key>
		<integer>13</integer>
		<key>protocol</key>
		<string>motor/M1 %v\nmotor/M2 %v</string>
		<key>thumb</key>
		<string>joystick_icon.png</string>
		<key>port</key>
		<integer>9</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>5</integer>
		<key>menu</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ultrasonic Sensor</string>
		<key>type</key>
		<integer>1</integer>
		<key>protocol</key>
		<string>ultrasonic/%port</string>
		<key>thumb</key>
		<string>ultrasonic.png</string>
		<key>port</key>
		<integer>3</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>1</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Temperature Sensor</string>
		<key>type</key>
		<integer>2</integer>
		<key>protocol</key>
		<string>temp/%port</string>
		<key>thumb</key>
		<string>temperature.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>1</integer>
		<key>xib</key>
		<integer>0</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Light Sensor</string>
		<key>type</key>
		<integer>3</integer>
		<key>protocol</key>
		<string>light/%port</string>
		<key>thumb</key>
		<string>lightsensor.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>3</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sound Sensor</string>
		<key>type</key>
		<integer>7</integer>
		<key>protocol</key>
		<string>sound/%port</string>
		<key>thumb</key>
		<string>soundsensor.png</string>
		<key>port</key>
		<integer>7</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>6</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>RGB LED</string>
		<key>type</key>
		<integer>8</integer>
		<key>protocol</key>
		<string>rgb/%port/%slot</string>
		<key>thumb</key>
		<string>rgbled.png</string>
		<key>port</key>
		<integer>8</integer>
		<key>slot</key>
		<integer>2</integer>
		<key>xib</key>
		<integer>7</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Line Follower</string>
		<key>type</key>
		<integer>17</integer>
		<key>protocol</key>
		<string>line/%port</string>
		<key>thumb</key>
		<string>linefinder.png</string>
		<key>port</key>
		<integer>5</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>11</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Potentiometer</string>
		<key>type</key>
		<integer>4</integer>
		<key>protocol</key>
		<string>potentiometer/%port</string>
		<key>thumb</key>
		<string>potentiometer.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>4</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Limit Switch</string>
		<key>type</key>
		<integer>21</integer>
		<key>protocol</key>
		<string>switch/%port/%slot</string>
		<key>thumb</key>
		<string>limitswitch.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>1</integer>
		<key>xib</key>
		<integer>13</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Button</string>
		<key>type</key>
		<integer>4</integer>
		<key>protocol</key>
		<string>button/%port</string>
		<key>thumb</key>
		<string>button.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>12</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>PIR Motion Sensor</string>
		<key>type</key>
		<integer>15</integer>
		<key>protocol</key>
		<string>pir/%port</string>
		<key>thumb</key>
		<string>pirmotion.png</string>
		<key>port</key>
		<integer>7</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>10</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>7-Segment Display</string>
		<key>type</key>
		<integer>9</integer>
		<key>protocol</key>
		<string>sevseg/%port</string>
		<key>thumb</key>
		<string>sevseg.png</string>
		<key>port</key>
		<integer>6</integer>
		<key>slot</key>
		<integer>0</integer>
		<key>xib</key>
		<integer>8</integer>
		<key>menu</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
